
<h1>All Recipes:</h1>

 

<div>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div><h3><%= link_to recipe.title, recipe_path(recipe) %></h3></div>
      <div><%= recipe.text[0,500] %>... <%= link_to "Read More", recipe_path(recipe) %></div>
      <div>Comments(<%= recipe.comments.size %>)</div>
    </div>
    
  <% end %>
  
</div>

<%= will_paginate @recipes %>