<div class="recipe">
<p>
  <h2><strong> <%= @recipe.title %> </strong></h2>
</p>
 
<p>
  Author: <%= @recipe.user.username %> 
</p> 
 
<p>
Categories:
  <% if @recipe.categories.empty? %>No categories<% end %>
  
        <% @recipe.categories.each do |category| %> 
        <%= link_to category.name, category %><% end %>

<p>
 
 
<p>
  <%= @recipe.text %>
</p>

</div>
<div class="comments">
<h4>Comments(<%= @recipe.comments.size %>):</h4>
<%= render @recipe.comments %>

<% if user_signed_in? %>

  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>
  

    <% if  current_user.id == @recipe.user_id  %>
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
      <%= link_to 'Delete Recipe', recipe_path(@recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>   |       
    <% end %>  
<% end %>

<%= link_to 'Back', recipes_path %>
</div>