<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'All recipes', recipes_path %> | <%= link_to 'All categories', categories_path %>
  
  <%= search_form_for @q do |f| %>

  <%= f.label 'Search:' %>
  <%= f.search_field :title_or_text_cont %>

  <%= f.submit %>
  
<% end %>
  
  
  <% if user_signed_in?%>
  
  Welcome <%= current_user.username %>! |
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  
  <% else %>
  
  <%= link_to 'Sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
  
  <% end %>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
