<!DOCTYPE html>
<html>
<head>
  <title>CookBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
    <ul>
      <li>
        <%= search_form_for @q do |f| %>
          <%= f.label 'Search:' %>
          <%= f.search_field :title_or_text_cont %>
          <%= f.submit %>
        <% end %>
      </li>
      <li><%= link_to 'All recipes', recipes_path %> </li>
      <li><%= link_to 'All categories', categories_path %></li>


    <% if user_signed_in?%>
      <li><%= link_to 'Add new recipe', new_recipe_path %></li>
      <li> Welcome <%= current_user.username %>!</li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
  
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
  
    <% end %>
    
  </div>  
  <div id='content'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
  </div>

</body>
</html>
